.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0;
    padding-bottom: 10px;
    padding-left: 0;
}
.top-navigation .wrapper.wrapper-content{
    padding: 60px 40px 0px 40px;
}
.ibox{
    margin-bottom: 15px;
}
.txt-center{display: block;text-align: center;}
#textarea{min-height:100px;margin-bottom:10px; vertical-align:middle;word-break:break-all;overflow: auto}
#smilies{float: left; padding-left: 2px; position: absolute; left: 10px; bottom: 5px; z-index: 99;}
#smilies-box ul,.smilie,.smilies-icon{display: block}
#smilies .smilies-icon{width: 22px; height: 22px; background: url(../img/bq.png) no-repeat; cursor: pointer;margin: 10px;}
.smilie{width: 25px; height: 25px;}
.dropdown-arrow1, .dropdown-arrow2{position: absolute; left: 7px; z-index: 1; width: 0; height: 0; border-color: transparent; border-style: dashed dashed solid; border-width: 0 8px 8px}
.dropdown-arrow1{top: 36px; border-bottom-color: #ccc; border-bottom-color: rgba(0,0,0,.2)}
.dropdown-arrow2{top: 37px; border-bottom-color: #fff}
#smilies .dropdown-arrow1{top: 28px;}
#smilies .dropdown-arrow2{top: 29px;}
.submenu{position: absolute; top: 44px; left: 0; overflow: hidden; padding: 25px; width: 35pc; border: 1px solid #ccc; border-color: rgba(0,0,0,.2); border-radius: 2px; background: #fff; box-shadow: 0 2px 10px rgba(0,0,0,.2)}
#smilies-box{top: 36px; left: -5px; padding: 10px; width: 360px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
#smilies-box ul li{margin: 0 -1px -1px 0; padding: 5px; width: 25px; height: 25px; border: 1px solid #eee}
#smilies-box ul li:hover{background: #f0f0f0}
.inline-ul{font-size: 0; margin: 0; padding: 0;}
.inline-ul .inline-li{vertical-align: top; word-spacing: normal; letter-spacing: normal; font-size: 9pt}
.inline-li{display: inline-block;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.dropdown.selected .smilies-box{display: block}
.smilies-box{display: none}

.friend{padding-bottom: 163px;}
.friend h1{background: #fff; font-size: 18px; padding: 10px;}
.friend img{width: 80px; height: 80px;padding:5px;-webkit-transition:.8s;-moz-transition:.8s;}
.prev-next-wrap{text-align:center;}
.pagination a{text-align:center;display:inline-block;color:#ffffff;background:#00b271;border-radius:2px;}
.pagination a a:hover{background:#505050;text-decoration:none;color:#ffffff;}
.pagination a i{width:36px;height:23px;line-height:23px;}
.pagination .page-number{background:#00b271;color:#ffffff;margin:0 3px;display:inline-block;line-height:23px;padding:0 14px;border-radius:2px;}
#back_to_top{position:fixed;right:10px;bottom:10px;background:#072;color:#ffffff;text-align:center;border-radius:2px;z-index:1;display:none;}
#back_to_top:hover{background:#072;}
#back_to_top i{width:30px;height:30px;line-height:30px;}
.msg-head img{display: block; -webkit-transition:.8s;-moz-transition:.8s;}
.msg-head img:hover,.friend img:hover{transform:rotate(720deg);-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg)}
.menu-login a {float: left;}